<h2>CONTRACTOR LIST</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search By First Name" title="Search for a name">
<input type="text" id="lastNameInput" onkeyup="Create()" placeholder="Search By Last Name" title="Search for a name">
<input type="text" id="birthInput" onkeyup="DOB()" placeholder="Search By DOB" title="Search for a name">
<div class="row">
  <table class="table table-bordered table-striped" id="myTableHeader" data-id="{{contractor.id}}">
    <thead>
      <tr>
        <th>Contractor ID#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody id="myTable">
    {{#each lists as |contractor|}}
    <tr>
        <td>{{contractor.id}}</td>
        <td>{{contractor.first_name}}</td>
        <td>{{contractor.last_name}}</td>
        <td>{{contractor.born_on}}</td>
        <td>{{contractor.gender}}</td>
        <td>
      <!-- <button class="edit-book btn btn-warning" data-id="{{contractor.id}}">Edit</button> -->
      <button class="delete-book btn btn-danger" id="list-delete" data-id="{{contractor.id}}">Delete</button>

     </td>
      </tr>
       {{/each}}
     </tbody>
  </table>


  <script>
  function myFunction() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>


  <script>
  function Create() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("lastNameInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>

  <script>
  function DOB() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("birthInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[3];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>
