

<h2>CONTRACTOR LIST</h2>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search For First Name" title="Search for a name">
<input type="text" id="myInput2" onkeyup="myFunction()" placeholder="test" title="Search for a name">
<div class="row">
  <table class="table table-bordered table-striped" id="myTableHeader" data-id="{{contractor.id}}">
    <thead>
      <tr>
        <th>Contractor ID#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody id="myTable">
    {{#each lists as |contractor|}}
    <tr>
        <td>{{contractor.id}}</td>
        <td>{{contractor.first_name}}</td>
        <td>{{contractor.last_name}}</td>
        <td>{{contractor.born_on}}</td>
        <td>{{contractor.gender}}</td>
        <td>
      <button class="edit-book btn btn-warning" data-id="{{contractor.id}}">Edit</button>
      <button class="delete-book btn btn-danger" id="list-delete" data-id="{{contractor.id}}">Delete</button>

     </td>
      </tr>
       {{/each}}
     </tbody>
  </table>


  <script>
  function myFunction() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>


  <script>
  function myFunction() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput2");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>





  <!-- <script>
  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTableHeader");
    switching = true;
    //Set the sorting direction to ascending:
    dir = "asc";
    /*Make a loop that will continue until
    no switching has been done:*/
    while (switching) {
      //start by saying: no switching is done:
      switching = false;
      rows = table.getElementsByTagName("TR");
      /*Loop through all table rows (except the
      first, which contains table headers):*/
      for (i = 1; i < (rows.length - 1); i++) {
        //start by saying there should be no switching:
        shouldSwitch = false;
        /*Get the two elements you want to compare,
        one from current row and one from the next:*/
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /*check if the two rows should switch place,
        based on the direction, asc or desc:*/
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /*If a switch has been marked, make the switch
        and mark that a switch has been done:*/
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        //Each time a switch is done, increase this count by 1:
        switchcount ++;
      } else {
        /*If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again.*/
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
  </script>
  </body>
  </html> -->






<!-- <h1>Table</h1>
<table class="table">
  <thead>
    <tr>
      <th>Contractor ID: #</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Born On</th>
    </tr>
  </thead>
  <tbody>
    {{#each contractors as |contractor|}}
    <tr>
      <td data-id="{{contractor.id}}">{{contractor.id}}</td>
      <td>{{contractor.first_name}}</td>
      <td>{{contractor.last_name}}</td>
      <td>{{contractor.born_on}}</td>
    </tr>
    {{/each}}
  </tbody>
</table> -->
