<ul>
{{#each lists as |contractor|}}


 <!-- Developers, why are we using data-id and not just id? -->
 <div>
      <ul class="list-unstyled">
      <li class="list-group-date" data-id="{{contractor.date}}">Contractor ID#: {{contractor.id}} </li>
      <li class="list-group-item"> First Name : {{contractor.first_name}} </li>
      <li class="list-group-item"> Last Name: {{contractor.last_name}} </li>
      <li class="list-group-item"> Born On: {{contractor.born_on}} </li>
      <li class="list-group-item"> Gender: {{contractor.gender}} </li>
      <!-- <li class="list-group-item"> Hire Date: {{contractor.hire_date}} </li> -->

      <button class="list-delete" data-id={{contractor.id}}>
              Remove
            </button>

</div>
{{/each}}
</ul>
