<ul>

  <div class="body">
    <ul class="unstyled">
      <li class="list-group-item" data-id="{{list.id}}">Contractor ID: #{{list.id}} </li>
      <li class="list-group-item"> First_Name : {{list.first_name}} </li>
      <li class="list-group-item"> Last_Name: {{list.last_name}} </li>
      <li class="list-group-item"> Born On: {{list.born_on}} </li>
      <li class="list-group-item"> Gender: {{list.gender}} </li>
      <!-- <li class="list-group-date"> Hire Date: {{list.hire_date}} </li> -->

</div>

</ul>
      <button class="delete-book btn btn-danger" id="list-delete" data-id="{{contractor.id}}">Delete</button>
</div>
</ul>

<!-- <div class="row">
  <table class="table table-bordered table-striped" data-id="{{list.id}}">
    <thead>
      <tr>
        <th>Contractor ID#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <!{{#each lists as |contractor|}} -->
      <!-- <tr>
        <td>{{list.id}}</td>
        <td>{{list.first_name}}</td>
        <td>{{list.last_name}}</td>
        <td>{{list.born_on}}</td>
        <td>{{list.gender}}</td>
        <td> -->
          <!-- <button class="edit-book btn btn-warning" data-book-id="{{id}}">Edit</button> -->

        <!-- </td>
      </tr> -->
      <!-- {{/each}} -->
    <!-- </tbody>
  </table> -->


<!-- <h1>Table</h1>
<table class="table">
  <thead>
    <tr>
      <th>Contractor ID: #</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Born On</th>
    </tr>
  </thead>
  <tbody>
    {{#each contractors as |contractor|}}
    <tr>
      <td data-id="{{contractor.id}}">{{contractor.id}}</td>
      <td>{{contractor.first_name}}</td>
      <td>{{contractor.last_name}}</td>
      <td>{{contractor.born_on}}</td>
    </tr>
    {{/each}}
  </tbody>
</table> -->
